<ul id="navbar">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  {{#if user}}
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
  {{/if}}
  <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
</ul>