<ul id="navbar">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="shop.html">Shop</a></li>
  <li><a href="blog.html">Blog</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="contact.html">Contact</a></li>
  {{#if user}}
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
  {{/if}}
  <li><a href="cart.html"><i class="fas fa-shopping-bag"></i></a></li>
</ul>