<ul id="navbar">
  <li><a class="{{#if activeHome}}active{{/if}}" href="/">Home</a></li>
  <li><a class="{{#if activeShop}}active{{/if}}" href="/shop">Products</a></li>
  <li><a class="{{#if activeBlog}}active{{/if}}" href="/blog">Blog</a></li>
  <li><a class="{{#if activeAbout}}active{{/if}}" href="/about">About</a></li>
  <li><a class="{{#if activeContact}}active{{/if}}" href="/contact">Contact</a></li>
  {{#if user}}
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
  {{/if}}
  <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
</ul>