<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link rel="stylesheet" href="public/style.css">
</head>

<body>
    <section id="header">
        <a href="index.html""><img src=" public/resource/logo-transparent.png" class="logo" alt="walkrags"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a class="active" href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section class="about-header" id="page-header">
        <h2>#AoutUs</h2>
        <p>Information about our works</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="public/resource/hero4.png" alt="">
        <div>
            <h2>About Us</h2>
            <p>Trường Đại học Công nghệ (tiếng Anh: VNU Hanoi-University of Engineering and Technology; viết tắt là: VNU Hanoi-UET) là một trường đại học thành viên của Đại học Quốc gia Hà Nội, được thành lập vào năm 2004[3], địa chỉ tại 144 Xuân Thủy, quận Cầu Giấy, Hà Nội, trong khuôn viên Đại học Quốc gia Hà Nội khu vực Cầu Giấy cùng với các trường thành viên như Trường Đại học Ngoại ngữ, Trường Đại học Kinh tế, Trường Đại học Y Dược, Khoa Luật,...</p>
            <marquee bgcolor="#e4e5ea" loop="-1" scrollamount="5" width="100%">Sliding text because that look very cool, not really good but i want it
            </marquee>
        </div>

    </section>

    <section id="about-vid" class="section-p1">
        <h1>Watch Our Newest <a href="https://youtu.be/Sp3Xkbnvz50">Style</a></h1>
        <div class="video">
            <iframe width="773" height="435" src="https://www.youtube.com/embed/Sp3Xkbnvz50" title="Welcome To .SWOOSH | The Future of Sport | Nike" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="public/features/f1.png" alt="free-shipping">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="public/features/f2.png" alt="free-shipping">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="public/features/f3.png" alt="free-shipping">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="public/features/f4.png" alt="free-shipping">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="public/features/f5.png" alt="free-shipping">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="public/features/f6.png" alt="free-shipping">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="public/resource/logo-transparent.png" alt="logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> asdasdsadasdasdas</p>
            <p><strong>Phone:</strong> asdasdsadasdasdas</p>
            <p><strong>Hours:</strong> asdasdsadasdasdas</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Oder</a>
            <a href="#">Help</a>
        </div>

        <div class="copyright">
            <p>© 2023 Walkrags, Inc - All Rights Reserved</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>