<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link rel="stylesheet" href="public/style.css">
</head>

<body>
    <section id="header">
        <a href="index.html""><img src="logo-transparent.png" class="logo" alt="walkrags"></a>

        {{> navbar}}
    </section>

    <section class="blog-header" id="page-header">
        <h2>#readmore</h2>
        <p>Read all case studies about our products! </p>
    </section>

    <section id="blog">
        <div class="blog-box">
            <div class="blog-img">
                <img src="public/resource/Blog/b1.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Next-Gen Of Sneaker Is Here</h4>
                <p>A springy ride for every run, the Peg's familiar, just-for-you feel returns to help you accomplish your goals. This version has the same responsiveness and neutral support you love but with improved comfortin those sensitive areas of your foot, like the arch and toes.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>13/04</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="public/resource/Blog/b2.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Next-Next-Gen Of Sneaker Is Here</h4>
                <p>A springy ride for every run, the Peg's familiar, just-for-you feel returns to help you accomplish your goals. This version has the same responsiveness and neutral support you love but with improved comfortin those sensitive areas of your foot, like the arch and toes.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>14/04</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="public/resource/Blog/b3.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Next-Next-Next-Gen Of Sneaker Is Here</h4>
                <p>A springy ride for every run, the Peg's familiar, just-for-you feel returns to help you accomplish your goals. This version has the same responsiveness and neutral support you love but with improved comfortin those sensitive areas of your foot, like the arch and toes.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>15/04</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="public/resource/Blog/b4.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Next-Next-Next-Gen Of Sneaker Is Here</h4>
                <p>A springy ride for every run, the Peg's familiar, just-for-you feel returns to help you accomplish your goals. This version has the same responsiveness and neutral support you love but with improved comfortin those sensitive areas of your foot, like the arch and toes.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>16/04</h1>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1" class="section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>description title and <span>highlight</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Enter your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="public/resource/logo-transparent.png" alt="logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> asdasdsadasdasdas</p>
            <p><strong>Phone:</strong> asdasdsadasdasdas</p>
            <p><strong>Hours:</strong> asdasdsadasdasdas</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Oder</a>
            <a href="#">Help</a>
        </div>

        <div class="copyright">
            <p>© 2023 Walkrags, Inc - All Rights Reserved</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>