<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <section id="header">
        <a href="index.html"><img src="src/logo-transparent.png" class="logo" alt="walkrags"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a class="active" href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="page-header">
        <h2>#contact</h2>
        <p>LEAVE A MESSAGE. We love to hear from you</p>
    </section>


    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of your agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fas fa-map"></i>
                    <p>144, Xuan Thuy, Cau Giay, Ha Noi</p>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <p>contract@example.com</p>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>0123456789</p>
                </li>
                <li>
                    <i class="fas fa-clock"></i>
                    <p>Monday to Saturday: 9:00 am to 16:00pm</p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1307.1126512750373!2d105.78221312520607!3d21.038158527038096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab354920c233%3A0x5d0313a3bfdc4f37!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4csIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1681566790286!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details"></section>

    <section id="newsletter" class="section-p1" class="section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>description title and <span>highlight</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Enter your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="src/logo-transparent.png" alt="logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> asdasdsadasdasdas</p>
            <p><strong>Phone:</strong> asdasdsadasdasdas</p>
            <p><strong>Hours:</strong> asdasdsadasdasdas</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Oder</a>
            <a href="#">Help</a>
        </div>

        <div class="copyright">
            <p>© 2023 Walkrags, Inc - All Rights Reserved</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>