<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoeware</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <section id="header">
        <a href="#"><img src="./logo.png" class="logo" alt="walkrags"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="./features/f1.png" alt="free-shipping">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f2.png" alt="free-shipping">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f3.png" alt="free-shipping">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f4.png" alt="free-shipping">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f5.png" alt="free-shipping">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f6.png" alt="free-shipping">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>New Collection Design</p>
        <div class="pro-container" id="product-list">
        </div>
<!--
            <div class="pro">
                <img src="/products/Air Jordan 1 Elevate High.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Air Jordan 1 Elevate High</h5>
                    <p>Women's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/Nike Air Max Pre-Day SE.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Max Pre-Day SE</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/Nike Air Max Terrascape Plus.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Max Terrascape Plus</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/Nike Air Zoom SuperRep 3.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Zoom SuperRep 3</h5>
                    <p>Women's HIIT Class Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/Nike Blazer Low '77 Jumbo.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Blazer Low '77 Jumbo</h5>
                    <p>Women's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/Nike Dunk High Retro.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Dunk High Retro</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/Nike SB Pogo.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike SB Pogo</h5>
                    <p>Skate Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="/products/NikeCourt Zoom NXT.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>NikeCourt Zoom NXT</h5>
                    <p>Man's Hard Court Tennis Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
        -->
    </section>

    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off</span> - All Nike Shoes</h2>
        <button class="normal">Explore More</button>
    </section>
    <script src="script.js">
    </script>
</body>
</html>
