<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Logout</h1>
      <p>You have been logged out.</p>
      <a href="/">Return to Home Page</a>
    </div>
  </body>
</html>

{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Logout</h1>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </body>
</html> --}}