<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section id="header">
        <a href="index.html""><img src="src/logo-transparent.png" class="logo" alt="walkrags"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="page-header">
        <h2>New Summer Collections</h2>
        <p>Save more with coupons & up to 70% off!</p>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='sproduct.html'">
                <img src="src/products/Air Jordan 1 Elevate High.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Air Jordan 1 Elevate High</h5>
                    <p>Women's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Air Max Pre-Day SE.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Max Pre-Day SE</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Air Max Terrascape Plus.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Max Terrascape Plus</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Air Zoom SuperRep 3.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Zoom SuperRep 3</h5>
                    <p>Women's HIIT Class Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Blazer Low '77 Jumbo.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Blazer Low '77 Jumbo</h5>
                    <p>Women's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Dunk High Retro.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Dunk High Retro</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike SB Pogo.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike SB Pogo</h5>
                    <p>Skate Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/NikeCourt Zoom NXT.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>NikeCourt Zoom NXT</h5>
                    <p>Man's Hard Court Tennis Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>

            <div class="pro">
                <img src="src/products/Air Jordan 1 Elevate High.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Air Jordan 1 Elevate High</h5>
                    <p>Women's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Air Max Pre-Day SE.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Max Pre-Day SE</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Air Max Terrascape Plus.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Max Terrascape Plus</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Air Zoom SuperRep 3.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Air Zoom SuperRep 3</h5>
                    <p>Women's HIIT Class Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Blazer Low '77 Jumbo.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Blazer Low '77 Jumbo</h5>
                    <p>Women's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike Dunk High Retro.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike Dunk High Retro</h5>
                    <p>Men's Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/Nike SB Pogo.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>Nike SB Pogo</h5>
                    <p>Skate Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
            <div class="pro">
                <img src="src/products/NikeCourt Zoom NXT.png" alt="">
                <div class="des">
                    <span>nike</span>
                    <h5>NikeCourt Zoom NXT</h5>
                    <p>Man's Hard Court Tennis Shoes</p>
                    <p>1 Color</p>
                    <h4>Price</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
            </div>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
    </section>
    <section id="newsletter" class="section-p1" class="section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>description title and <span>highlight</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Enter your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="src/logo-transparent.png" alt="logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> asdasdsadasdasdas</p>
            <p><strong>Phone:</strong> asdasdsadasdasdas</p>
            <p><strong>Hours:</strong> asdasdsadasdasdas</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Oder</a>
            <a href="#">Help</a>
        </div>

        <div class="copyright">
            <p>© 2023 Walkrags, Inc - All Rights Reserved</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>